<% include partials/header %>

<section id="table" class="clearfix">
        <h2 style="text-align:center;">
                Buy order details
         </h2>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">number</th>
        <th scope="col"> OrderType </th>
        <th scope="col">count </th>
        <th scope="col">price</th>
        <th scope="col">company</th>
        <th scope="col">trader</th>
      </tr>
    </thead>
    <tbody>
      
            <% data.forEach(function(data,id){ %>
                <tr>
                    <td>
                            <%= id+1%>
                    </td>
                <td>
                        <%= data.OrderType%>
                </td>
                <td>
                        <%= data.count%>
                </td>
               
                <td>
                        <%= data.price%>
                </td>
                <td>
                        <%= data.company%>
                </td>
                <td>
                    <%= data.trader%>
                </td>
            </tr>
                <% }); %>
    
  </table>
  </section>
  <% include partials/footer %>